<!-- Hero -->
<div class="p-5 text-center bg-image rounded-3" style="
    background-image: url('https://i.pinimg.com/564x/ce/f6/b7/cef6b7fa3c128dfed17f75d42daa3a69.jpg');
    height: 400px;
  ">
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        <h1 class="mb-3">{{username}}</h1>
        <h4 class="mb-3">{{job}}</h4>
        <a class="btn btn-outline-light btn-lg"  href="home/esraa/Esraa%20magdy%20youssef.pdf" download="Esraa%20magdy%20youssef.pdf" role="button">Download CV</a>
      </div>
    </div>
  </div>
</div>
<!-- Hero -->
