<div class="row">
  <div class="col-md-4" *ngFor="let product of products">
    <div class="card" style="width: 18rem;">
      <img [src]="product.images[0]" class="card-img-top" alt="Product Image">
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">Price: {{ product.price }}</p>
        <p [style.color]="product.stock === 0 ? 'red' : 'green'">
          {{ product.stock === 0 ? 'Out of stock' : 'In stock' }}
        </p>
        <button (click)="addToCart(product.id)" [disabled]="product.stock === 0" class="btn btn-primary">Add to Cart</button>
        <button (click)="navigateToProductDetails(product.id)" class="btn btn-primary">View Details</button>
      </div>
    </div>
  </div>
</div>
