<!-- our services -->
<div class="container my-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="https://i.pinimg.com/236x/51/1a/74/511a7467333910972ea81166ff40b95d.jpg" class="card-img-top" alt="Service 1 Image">
                <div class="card-body">
                    <h5 class="card-title">Service 1</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="https://i.pinimg.com/236x/ea/1b/a4/ea1ba4b0fe9a8349ab373f05cac44671.jpg" class="card-img-top" alt="Service 2 Image">
                <div class="card-body">
                    <h5 class="card-title">Service 2</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="https://i.pinimg.com/236x/15/20/b2/1520b25e509ef0c742551f7aa06a6356.jpg" class="card-img-top" alt="Service 3 Image">
                <div class="card-body">
                    <h5 class="card-title">Service 3</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- our services -->
