<div class="row">
  <div class="col-md-4" >
    <div class="card mb-4">
      <img [src]="user.images" class="card-img-top" alt="Profile Picture">
      <div class="card-body">
        <h5 class="card-title">{{ user.username }}</h5>
        <p class="card-text"><strong>Email:</strong> {{ user.email }}</p>
        <p class="card-text"><strong>Phone:</strong> {{ user.phone }}</p>
        <p class="card-text"><strong>Verified:</strong>
          <i class="fa fa-circle" [ngClass]="{ 'text-success': user.is_verified, 'text-danger': !user.is_verified }"></i>
        </p>
      </div>
    </div>
  </div>
</div>
